<!DOCTYPE html>
<html lang="zh-CN">
  <head>

    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
 <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
 -->
      <h1 class="project-name">费&ensp;&ensp;腾</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="/zh/index_zh" class="btn">关于</a>
        <a href="/zh/publication_zh" class="btn">出版</a>
        <a href="/zh/projects_zh" class="btn">项目</a>
        <a href="/zh/award_zh" class="btn">奖励</a>
        <a href="/zh/students_zh" class="btn">学生</a>
        <a href="/index" class="btn">English</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">本站信息于2026年2月最后编辑.</span>
      </footer>
    </main>
  </body>
</html>